<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- 设置监听器的配置文件 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/config/spring/applicationContext.xml</param-value>
  </context-param>
  <!-- 上下文加载时监听器，用于加载Spring框架的其他配置文件 -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>springMvcServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <!-- 配置SpringMVC的核心配置文件路径，启动Web应用时，将会读取该路径下的配置文件-->
      <param-name>contextConfigLocation</param-name>
      <param-value>WEB-INF/config/spring/spring-mvc-servlet.xml</param-value>
    </init-param>
    <!-- web应用启动时加载当前Servlet -->
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>springMvcServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>
