<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:http="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 组件扫描包 use-default-filters="false：false表示严格安装过滤器筛选 -->
    <context:component-scan base-package="com.jiuyun" use-default-filters="false">
<!--        过滤器（只包含和不包含）-->
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
    </context:component-scan>
    <!--       default-init-method="init" default-destroy-method="dest"-->

    <!-- 将Java类交由Spring容器管理  局部配置init-method="initialize"：调用此方法初始化bean  destroy-method="destroy"：调用此方法销毁bean-->
    <bean id="studentDao" class="com.jiuyun.dao.StudentDao" init-method="initialize" destroy-method="destroy"></bean>
    <bean id="studentService" class="com.jiuyun.service.impl.StudentServiceImpl">
        <!-- 依赖注入：name="studentDao"指的是StudentServiceImpl的私有成员属性  ref="studentDao"引用的是 <bean id="studentDao" -->
        <property name="studentDao" ref="studentDao"></property>
    </bean>

    <bean id="userDao" class="com.jiuyun.dao.UserDao"></bean>
    <bean id="userService" class="com.jiuyun.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <bean id="singletonClass" class="com.jiuyun.bean.SingletonClass"></bean>

<!--    autowire="byName":根据属性名自动装配-->
    <bean id="myDao" class="com.jiuyun.dao.MyDao" init-method="init" destroy-method="dest"></bean>
    <bean id="myService" class="com.jiuyun.service.impl.MyServiceImpl" autowire="byName"></bean>
</beans>